<div class="col s12 valign center center-align">
  <h5>I am a full-stack web developer, specializing in the Ruby on Rails stack.
    I was trained at <a href="http://devbootcamp.com/">Dev Bootcamp</a> in Chicago, and informally trained in a dev team at <a href="https://www.instructure.com/">Instructure</a>.
    Before that, I worked in QA for about 10 years so I have a ton of experience in the Tech industry! :)</h5>
  <h5><a href="https://github.com/amberzilla">My Github</a></h5>
  <h5><a href="https://www.linkedin.com/in/ambertaniuchi">Linked In</a></h5>
</div>

