<div class="col s12 valign center center-align">
  <h5>I am a full-stack web developer.
    I was trained at <a href="http://devbootcamp.com/">Dev Bootcamp</a> in Chicago, and informally trained in a dev team at <a href="https://www.instructure.com/">Instructure</a>.
    Before that, I worked in QA for about 10 years so I have a ton of experience in the Tech industry! :) My forte is Ruby on Rails, but I have also built small apps in Sinatra. I've worked with HTML, CSS, JavaScript, jQuery, AJAX and CoffeeScript on the front-end and ActiveRecord and Sqlite/Postgres on the back-end. I like Git for version control. I think test-driven development is super important (though I need to build some for this little website, 'tis a work-in-progress!)</h5>
  <h5><a href="https://github.com/amberzilla">My Github</a></h5>
  <h5><a href="https://www.linkedin.com/in/ambertaniuchi">Linked In</a></h5>
</div>

