<div class="col s12 valign center center-align">
  <h5>I also write music, play guitar, keys and sing in a rock band from Salt Lake City.
  We're called Lady Murasaki. :) :) I also enjoy riding <a href="https://medium.com/@ambertaniuchi/a-tribute-to-my-adventures-with-a-1982-vintage-schwinn-deluxe-varsity-bike-84a66b09e6a1#.z89f4xtkh" target="_blank">steel-framed bikes</a> and taking/posting pictures of all sorts of things on <a href="https://www.instagram.com/amberzilla/" target="_blank">Instagram</a>.</h5> 
  <div id="photo-container">
    <%= image_tag "banner_2.jpg", id: "band-photo" %>
  </div>
  <h5><a href="http://ladymurasaki.bandcamp.com/" target="_blank">Bandcamp</a></h5>
  <h5><a href="https://www.facebook.com/ladymurasakiband" target="_blank">Facebook</a></h5>
</div>