<div class="col s12 valign center center-align">
  <h5>I also write music, play guitar/keys and sing in a rock band from Salt Lake City.<br>
  We're called Lady Murasaki.</h5>
  <div id="photo-container">
    <%= image_tag "banner_2.jpg", id: "band-photo" %>
  </div>
  <h5><a href="http://ladymurasaki.bandcamp.com/">Bandcamp</a></h5>
  <h5><a href="https://www.facebook.com/ladymurasakiband">Facebook</a></h5>
</div>